.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/** START LOADER STYLE **/

@keyframes bouncing-loader {
	to {
		opacity: 0.1;
		transform: translate3d(0, -16px, 0);
	}
}

.bouncing-loader {
	display: flex;
	justify-content: center;
}

.bouncing-loader > div {
	width: 16px;
	height: 16px;
	margin: 3rem 0.2rem;
	background: #8385aa;
	border-radius: 50%;
	animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
	animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
	animation-delay: 0.4s;
}

/** END LOADER STYLE **/

/** START HEADER STYLE **/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
  padding-bottom: 10px;
}

header .title h1 {
	font-size: 40px;
}

header .filters {
	width: 530px;
	max-width: 95%;
	margin: auto;
	/* margin-top: 50px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .search {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-right: 15px;
}

header .sort {
	width: 30%;
	display: flex;
	flex-direction: column;
  background-color: #292929;
}

header .filters input,
header .filters select {
	font-size: 15px;
	font-family: inherit;
	color: #fff;
	width: 100%;
	padding: 10px 15px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
}

header .filters input::placeholder {
	color: #292929;
}

/** END HEADER STYLE **/

.posts {
	margin-top: 40px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.posts .post {
	padding: 30px;
	border: 1px solid #292929;
	color: #292929;
}

.posts .post h2 {
	font-size: 21px;
	margin-bottom: 20px;
}

.posts .post p {
	font-size: 16px;
}
